@media (min-width: 576px) {
  .custom-container {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 80vw;
  }
}
/* Colours */
@media (max-width: 998px) {
  .custom-navbar {
    display: hidden !important;
  }
  .custom-mobile-navbar {
    display: flex !important;
  }
}
.custom-navbar {
  height: auto;
  width: 100%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: -100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #252831;
  box-shadow: 0px 7px 5px -5px black;
  transition: top 0.3s;
}

.custom-navbar > .custom-navbar-logo > .logo {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}
.custom-navbar > .custom-navbar-logo > .logo > a {
  padding: 3px 20px 6px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #d8dbe2;
}
.custom-navbar > .custom-navbar-logo > .logo > a:hover {
  color: #f5f6f8;
  background-color: #464c5c;
  border-right: #a9bcd0 1px solid;
  box-shadow: -5px 0px 5px -5px #cad6e2 inset;
}

.custom-navbar > .custom-navbar-links a {
  font-family: "Source Code Pro", monospace;
  padding: 16px 12px 10px 12px;
  text-decoration: none;
  font-size: 18px;
  color: #d8dbe2;
  display: inline;
}

.custom-navbar > .custom-navbar-links a:hover {
  color: #f5f6f8;
  background-color: #464c5c;
  border-bottom: #a9bcd0 1px solid;
  box-shadow: 0px -5px 5px -5px #cad6e2 inset;
}

.custom-navbar-socials {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
.custom-navbar-socials > i {
  font-size: 1.5rem;
  padding: 8px 15px 6px 15px;
}
.custom-navbar-socials > i:hover {
  color: #f5f6f8;
  background-color: #464c5c;
  border-bottom: #a9bcd0 1px solid;
  box-shadow: 0px -5px 5px -5px #cad6e2 inset;
}
.custom-navbar-socials > .socials {
  display: none;
}

.custom-mobile-navbar {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: -100px;
  z-index: 1;
  display: none;
  justify-content: space-evenly;
  background-color: #252831;
  transition: bottom 0.3s;
}
.custom-mobile-navbar > i {
  font-size: 1.5rem;
  width: auto;
  padding: 7px 7px 7px 7px;
}

@media (max-width: 990px) {
  #contact-form-wrapper .custom-container .row {
    flex-direction: column;
  }
}
#contact-form-wrapper {
  padding: 1rem 2rem 1rem 2rem;
}
#contact-form-wrapper > .custom-container {
  padding-top: 2rem;
}
#contact-form-wrapper > .custom-container > .row {
  justify-content: space-between;
}

.identity-fields #fname {
  margin-right: 0.5rem;
}
.identity-fields input {
  width: 100%;
}

.email-fields {
  flex-wrap: wrap;
}
.email-fields input {
  width: 100%;
  margin-top: 1rem;
}

.identity-fields, .email-fields {
  display: flex;
}

.identity-fields input, .email-fields .email-subject, .email-fields .email-address {
  padding: 8px 8px;
}

#msgbody {
  margin-top: 1rem;
  width: 100%;
  height: 150px;
  padding-left: 5px;
  padding-top: 5px;
}

input[type=text], input[type=email], #msgbody {
  font-size: 14px;
  color: #d8dbe2;
  background-color: #464c5c;
  border: #464c5c 1px solid;
}
input[type=text]:focus, input[type=email]:focus, #msgbody:focus {
  border: #a9bcd0 0.1px solid;
  box-shadow: 0px 0px 5px #cad6e2;
}
input[type=text]:hover, input[type=email]:hover, #msgbody:hover {
  border: #a9bcd0 0.1px solid;
}
input[type=text]:focus-visible, input[type=email]:focus-visible, #msgbody:focus-visible {
  outline: none;
}

.contact-btn {
  font-family: "Source Code Pro", monospace;
  margin-top: 1rem;
  color: #d8dbe2;
  background-color: #464c5c;
  border: #464c5c 1px solid;
  border-radius: 5%;
  letter-spacing: 1px;
}
.contact-btn:hover {
  background-color: #51586a;
  border: #a9bcd0 0.1px solid;
}
.contact-btn:focus {
  border: #a9bcd0 0.1px solid;
  color: #d8dbe2;
  background-color: #464c5c;
  box-shadow: 0px 0px 5px #cad6e2;
}

.contact-info > p.h1 {
  font-size: 2.5rem;
}
.contact-info div, .contact-info p {
  font-family: "Source Code Pro", monospace;
}

.contact-icon {
  position: relative;
}

.email-fields {
  margin-bottom: 0.5rem;
}

.contact-info-wrap {
  display: flex;
  margin-bottom: 1rem;
}
.contact-info-wrap > i {
  margin-right: 5px;
}

@media (max-width: 400px) {
  #main-wrapper .banner-wrapper .img-wrapper > .imgtxt > p.h1 {
    font-size: 1.75rem;
  }
  #main-wrapper .banner-wrapper .img-wrapper > .imgtxt > p.h5 {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .banner-wrapper .img-wrapper > .imgtxt > p.h1 {
    font-size: 2rem;
  }
  .banner-wrapper .img-wrapper > .imgtxt > p.h5 {
    font-size: 1rem;
  }
}
.bannerimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.img-wrapper {
  position: relative;
  box-shadow: 0 3px 10px -5px black;
}

.imgtxt {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}
.imgtxt > p {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #d8dbe2;
  overflow: hidden;
}
.imgtxt > p.h1 {
  font-size: 3rem;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
}
.imgtxt > p.h5 {
  font-size: 1.5rem;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
  animation-delay: 2s;
}

.see-more {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.see-more > a i {
  font-size: 3rem;
  color: #d8dbe2;
  padding: 10px 10px 10px 10px;
}
.see-more > a i:hover {
  color: #bbc0cc;
  animation: bounce 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
#portfolio-projects {
  background-color: #464c5c;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.card--img {
  width: 100%;
  height: auto;
}

.project-row {
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.project-row > div > div.card {
  background-color: #30343f;
  position: relative;
  transition: top ease 0.5s;
  top: 0;
  border-radius: 0;
  border: #30343f 1px solid;
  box-shadow: 0 0px 10px 1px #30343f;
}
.project-row > div > div.card:hover {
  top: -10px;
  box-shadow: 0px 1px 15px #88a2be;
  border: #88a2be 1px solid;
}

#portfolio-projects > .custom-container > .row > i {
  margin: 20px 0 15px 0px;
  font-size: 4rem;
  border-bottom: 1px solid #d8dbe2;
}

.card-title, .card-subtitle {
  padding: 5px 0px 5px 10px;
}

.card-subtitle > i {
  position: relative;
  top: 4px;
  font-size: 20px;
}

@media (max-width: 998px) {
  .return-top-wrapper a i {
    margin-bottom: 2rem;
  }
}
.return-top-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}
.return-top-wrapper > a i {
  font-size: 3rem;
  color: #d8dbe2;
  padding: 10px 10px 10px 10px;
}
.return-top-wrapper > a i:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Colours */
#about-img-wrapper {
  /* background-image: url('../assets/imgs/backgroundimg.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   */
  background-color: #30343f;
  background-size: cover;
}

.aboutmeimg {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px 1px black;
}

.abouthead-txt {
  font-family: "Source Code Pro", monospace;
  margin-top: 1rem;
  text-align: center;
}

.about-head-wrap {
  background-color: #1a1c22;
  box-shadow: 0 6px 5px -5px black;
}

.aboutme-head {
  padding-top: 2rem;
  justify-content: center;
}

.aboutmecontent {
  justify-content: center;
  height: 100%;
  background-color: #30343f;
}
.aboutmecontent:first-child {
  margin-top: 2rem;
}
.aboutmecontent > div > .card {
  background-color: #3b404d;
  border: #3b404d 1px solid;
  box-shadow: 0px 1px 15px black;
}
.aboutmecontent > div > .card > .card-body {
  font-family: "Source Code Pro", monospace;
}
.aboutmecontent > div > .card > .card-body > .about-card-title {
  font-weight: 700;
}
.card-body > .about-card-title, .card-body .about-card-txt {
  padding: 0px 5px 0px 15px;
}

.imgtxt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgtxt > p {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #d8dbe2;
}
.schemeimg {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px 1px black;
}

.scheme-txt {
  font-family: "Source Code Pro", monospace;
  margin-top: 1rem;
  text-align: center;
}

.scheme-head-wrap {
  background-color: #1a1c22;
  box-shadow: 0 6px 5px -5px black;
  margin-bottom: 2rem;
}

.scheme-head {
  padding-top: 2rem;
  justify-content: center;
}

.th-link {
  text-decoration: underline;
  color: inherit;
}
.th-link:hover {
  color: #acb3c1;
  text-decoration: underline;
}

.schemecontent {
  justify-content: center;
}
.schemecontent > div > .card {
  background-color: #3b404d;
  border: #3b404d 1px solid;
  box-shadow: 0px 1px 15px black;
}
.schemecontent > div > .card > .card-body {
  font-family: "Source Code Pro", monospace;
}
.schemecontent > div > .card > .card-body > .scheme-card-title {
  font-weight: 700;
}
.card-body > .scheme-card-title, .card-body .scheme-card-txt {
  padding: 0px 5px 0px 15px;
}

html {
  line-height: 1.15;
  font-size: 16px;
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #d8dbe2;
  line-height: 1.42857143;
  margin: auto;
  background-color: #30343f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.875rem;
}

p {
  line-height: 1.875rem;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.img-rounded {
  border-radius: 50%;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.card {
  margin: 10px;
  border: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0px !important;
}

.form-control {
  border-radius: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.25rem;
  font-weight: 400;
}

.h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #333645;
}

/*# sourceMappingURL=styles.css.map */
