@media (min-width: 576px) {
  .custom-container {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 80vw;
  }
}
/* Colours */
@media (max-width: 998px) {
  .custom-navbar {
    display: hidden !important;
  }
  .custom-mobile-navbar {
    display: flex !important;
  }
}
.custom-navbar {
  height: auto;
  width: 100%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: -400px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #ffb8c9;
  transition: top 0.3s;
}

.custom-navbar > .custom-navbar-logo > .logo {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}
.custom-navbar > .custom-navbar-logo > .logo > a {
  padding: 3px 20px 6px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}
.custom-navbar > .custom-navbar-logo > .logo > a:hover {
  color: #e6e6e6;
  background-color: #ff9eb5;
  border-right: #ffffff 1px solid;
  box-shadow: -5px 0px 5px -5px #e6e6e6 inset;
}

.custom-navbar > .custom-navbar-logo > .logo2 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}
.custom-navbar > .custom-navbar-logo > .logo2 > a {
  padding: 3px 20px 6px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}
.custom-navbar > .custom-navbar-logo > .logo2 > a:hover {
  color: #e6e6e6;
  background-color: #ff9eb5;
  border-left: #ffffff 1px solid;
  box-shadow: 5px 0px 5px -5px #e6e6e6 inset;
}

.custom-navbar > .custom-navbar-links a {
  font-family: "Source Code Pro", monospace;
  padding: 16px 12px 10px 12px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: inline;
}

.custom-navbar > .custom-navbar-links a:hover {
  color: #e6e6e6;
  background-color: #ff9eb5;
  border-bottom: #ffffff 1px solid;
  box-shadow: 0px -5px 5px -5px #e6e6e6 inset;
}

.custom-navbar-socials {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
.custom-navbar-socials > i {
  border-bottom: #FFD1DC 1px solid;
  font-size: 1.5rem;
  padding: 8px 15px 6px 15px;
}
.custom-navbar-socials > i:hover {
  color: white;
  background-color: #ff9eb5;
  border-bottom: #ffffff 1px solid;
  box-shadow: 0px -5px 5px -5px #e6e6e6 inset;
}
.custom-navbar-socials > i:focus {
  outline: none;
  box-shadow: none;
}
.custom-navbar-socials > i:focus-visible {
  outline: none;
  box-shadow: none;
}
.custom-navbar-socials > .socials {
  display: none;
}

.custom-mobile-navbar {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: -100px;
  z-index: 1;
  display: none;
  justify-content: space-evenly;
  background-color: #ffb8c9;
  transition: bottom 0.3s;
}
.custom-mobile-navbar > a {
  width: auto;
  padding: 7px 3px 6px 5px;
  color: #ffffff;
}
.custom-mobile-navbar > a > i {
  font-size: 1.5rem;
  border: #ffb8c9 1px solid;
  padding: 8px 15px 10px 15px;
}
.custom-mobile-navbar > a > i:hover {
  color: white;
  background-color: #ff9eb5;
  border-top: #ffffff 1px solid;
  box-shadow: 0px 5px 5px -5px white inset;
}

@media (max-width: 990px) {
  #contact-form-wrapper .custom-container .row {
    flex-direction: column;
  }
}
#contact-form-wrapper {
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0 -3px 10px -5px black;
}
#contact-form-wrapper > .custom-container {
  padding-top: 2rem;
}
#contact-form-wrapper > .custom-container > .row {
  justify-content: space-between;
}

.identity-fields #fname {
  margin-right: 0.5rem;
}
.identity-fields input {
  width: 100%;
}

.email-fields {
  flex-wrap: wrap;
}
.email-fields input {
  width: 100%;
  margin-top: 1rem;
}

.identity-fields, .email-fields {
  display: flex;
}

.identity-fields input, .email-fields .email-subject, .email-fields .email-address {
  padding: 8px 8px;
}

#msgbody {
  margin-top: 1rem;
  width: 100%;
  height: 150px;
  padding-left: 5px;
  padding-top: 5px;
}

input[type=text], input[type=email], #msgbody {
  font-size: 14px;
  color: #ffffff;
  background-color: white;
  border: white 1px solid;
}
input[type=text]:focus, input[type=email]:focus, #msgbody:focus {
  border: #ffffff 0.1px solid;
  box-shadow: 0px 0px 5px white;
}
input[type=text]:hover, input[type=email]:hover, #msgbody:hover {
  border: #ffffff 0.1px solid;
}
input[type=text]:focus-visible, input[type=email]:focus-visible, #msgbody:focus-visible {
  outline: none;
}

.contact-btn {
  font-family: "Source Code Pro", monospace;
  margin-top: 1rem;
  color: #ffffff;
  background-color: white;
  border: white 1px solid;
  border-radius: 5%;
  letter-spacing: 1px;
}
.contact-btn:hover {
  background-color: white;
  border: #ffffff 0.1px solid;
}
.contact-btn:focus {
  border: #ffffff 0.1px solid;
  color: #ffffff;
  background-color: white;
  box-shadow: 0px 0px 5px white;
}

.contact-info > p.h1 {
  font-size: 2.5rem;
}
.contact-info div, .contact-info p {
  font-family: "Source Code Pro", monospace;
}

.contact-icon {
  position: relative;
}

.email-fields {
  margin-bottom: 0.5rem;
}

.contact-info-wrap {
  display: flex;
  margin-bottom: 1rem;
}
.contact-info-wrap > i {
  margin-right: 5px;
}

@media (max-width: 400px) {
  #main-wrapper .banner-wrapper .img-wrapper > .imgtxt > p.h1 {
    font-size: 1.75rem;
  }
  #main-wrapper .banner-wrapper .img-wrapper > .imgtxt > p.h5 {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .banner-wrapper .img-wrapper > .imgtxt > p.h1 {
    font-size: 2rem;
  }
  .banner-wrapper .img-wrapper > .imgtxt > p.h5 {
    font-size: 1rem;
  }
}
.bannerimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.img-wrapper {
  position: relative;
  box-shadow: 0 3px 10px -5px white;
}

.imgtxt {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}
.imgtxt > p {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #ffffff;
  overflow: hidden;
}
.imgtxt > p.h1 {
  font-size: 3rem;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
}
.imgtxt > p.h5 {
  font-size: 1.5rem;
  white-space: nowrap;
}
.imgtxt > p.titleone {
  width: 0;
  animation: typing 2s forwards;
  animation-delay: 2s;
}
.imgtxt > p.titletwo {
  width: 0;
  animation: typing 2s forwards;
  animation-delay: 4s;
}
.imgtxt > p.titlethree {
  width: 0;
  animation: typing 2s forwards;
  animation-delay: 6s;
}

.see-more {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.see-more > a i {
  font-size: 3rem;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}
.see-more > a i:hover {
  color: #e6e6e6;
  animation: bounce 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
#portfolio-projects {
  background-image: linear-gradient(180deg, #FFD1DC, white);
  padding-bottom: 3rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.card--img {
  width: 100%;
  height: auto;
}

.project-row {
  padding-top: 2rem;
  flex-wrap: wrap;
  max-height: 0px;
  overflow: hidden;
}
.project-row > div > div.card {
  background-color: #FFD1DC;
  position: relative;
  transition: top ease 0.5s;
  top: 0;
  border-radius: 0;
  border: #FFD1DC 1px solid;
  box-shadow: 0 0px 10px 1px #FFD1DC;
}
.project-row > div > div.card:hover {
  top: -10px;
  box-shadow: 0px 1px 15px #e6e6e6;
  border: #e6e6e6 1px solid;
}

#portfolio-projects > .custom-container > .row > span {
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
}
#portfolio-projects > .custom-container > .row > span:hover {
  box-shadow: 0px -5px 3px -5px white inset;
}
#portfolio-projects > .custom-container > .row > span:hover > p, #portfolio-projects > .custom-container > .row > span:hover i {
  color: #cccccc;
}
#portfolio-projects > .custom-container > .row > span p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: auto;
}
#portfolio-projects > .custom-container > .row > span i {
  width: auto;
  font-size: 4rem;
}

.card-title,
.card-subtitle {
  padding: 5px 0px 5px 10px;
}

.card-subtitle > i {
  position: relative;
  top: 4px;
  font-size: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 998px) {
  .return-top-wrapper a i {
    margin-bottom: 2rem;
  }
}
.return-top-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}
.return-top-wrapper > a i {
  font-size: 3rem;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}
.return-top-wrapper > a i:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Colours */
#about-me-wrapper {
  background-image: linear-gradient(360deg, #FFD1DC, white);
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.aboutmecontent {
  justify-content: center;
  max-height: 0;
  overflow: hidden;
}
.aboutmecontent > div > .card {
  background: inherit;
  box-shadow: none;
}
.aboutmecontent > div > .card > .card-body {
  font-family: "Roboto", sans-serif;
}
.aboutmecontent > div > .card > .card-body > .about-card-title {
  font-weight: 700;
}

.card-body > .about-card-title,
.card-body .about-card-txt {
  padding: 0px 5px 0px 15px;
}

.about-header {
  padding-bottom: 1rem;
}
.about-header span {
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
}
.about-header span:hover {
  box-shadow: 0px -5px 3px -5px white inset;
}
.about-header span:hover > p, .about-header span:hover i {
  color: #cccccc;
}
.about-header span p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: auto;
}
.about-header span i {
  width: auto;
  font-size: 4rem;
}

.imgtxt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgtxt > p {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #ffffff;
}
.schemeimg {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px 1px black;
}

.scheme-txt {
  font-family: "Source Code Pro", monospace;
  margin-top: 1rem;
  text-align: center;
}

.scheme-head-wrap {
  background-color: #ff9eb5;
  box-shadow: 0 6px 5px -5px black;
  margin-bottom: 2rem;
}

.scheme-head {
  padding-top: 2rem;
  justify-content: center;
}

.th-link {
  text-decoration: underline;
  color: inherit;
}
.th-link:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

.schemecontent {
  justify-content: center;
}
.schemecontent > div > .card {
  background-color: #ffebef;
  border: #ffebef 1px solid;
  box-shadow: 0px 1px 15px black;
}
.schemecontent > div > .card > .card-body {
  font-family: "Source Code Pro", monospace;
}
.schemecontent > div > .card > .card-body > .scheme-card-title {
  font-weight: 700;
}
.card-body > .scheme-card-title, .card-body .scheme-card-txt {
  padding: 0px 5px 0px 15px;
}

#example-wrapper {
  background-image: linear-gradient(180deg, #FFD1DC, white);
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.example-content {
  justify-content: center;
  max-height: 0;
  overflow: hidden;
}

.sql__description > .code-indent {
  display: flex;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 15px;
  color: #f2f2f2;
  background-color: #ffb8c9;
}
.sql__description > .code-indent > .code-text {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

.example-header {
  padding-bottom: 1rem;
}
.example-header span {
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
}
.example-header span:hover {
  box-shadow: 0px -5px 3px -5px white inset;
}
.example-header span:hover > p, .example-header span:hover i {
  color: #cccccc;
}
.example-header span p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: auto;
}
.example-header span i {
  width: auto;
  font-size: 4rem;
}

.example-sql-title {
  font-family: "Source Code Pro", monospace;
  color: inherit;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline #ffffff;
  margin-bottom: 16px;
}

a.example-sql-title:hover {
  color: #cccccc;
  text-decoration: underline #cccccc;
}

.sql-dbs-img {
  margin-top: 1rem;
}

html {
  line-height: 1.15;
  font-size: 16px;
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #ffffff;
  line-height: 1.42857143;
  margin: auto;
  background-color: #FFD1DC;
}

a:focus {
  outline: none;
  box-shadow: none;
}
a:focus-visible {
  outline: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.875rem;
}

p {
  line-height: 1.875rem;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.img-rounded {
  border-radius: 50%;
}

.row {
  --bs-gutter-x: 15px;
  --bs-gutter-y: 15px;
}

.card {
  margin: 10px;
  border: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0px !important;
}

.form-control {
  border-radius: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.25rem;
  font-weight: 400;
}

.h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #333645;
}

#page-content-wrapper {
  background-image: linear-gradient(180deg, #FFD1DC, white);
}

/*# sourceMappingURL=styles.css.map */
