//media queries
@media (min-width: 576px) {
  .custom-container {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 982px;
  }
}
@media (min-width: 1200px) {
  .custom-container {
    max-width: 1190px;
  }
}
@media (min-width: 1400px) {
  .custom-container {
    max-width: 85vw;
  }
}
//includes 
@import 'partials/sidebarnav';
@import 'partials/contact';
@import 'partials/bannerimg';
@import 'partials/projects';
@import 'partials/footer';
@import 'partials/variables';
@import 'partials/mixins';
//content
#content-wrapper {
  margin-left: 180px;
}

html {
  line-height: 1.15;
  font-size: 16px;
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include font-site;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: $textclr;
  line-height: 1.42857143;
  margin: auto;
  background-color: $baseclr;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.875rem;
}

.custom-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img-rounded {
  border-radius: 50%;
}

.card {
  margin: 10px;
  border: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}
.card-body {
  padding: 0px !important;
 }
.form-control {
  border-radius: 0;
}