//media queries
@media (min-width: 576px) {
  .custom-container {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 80vw;
  }
}

//includes 
@import 'partials/sidebarnav';
@import 'partials/indexpage/contact';
@import 'partials/indexpage/bannerimg';
@import 'partials/indexpage/projects';
@import 'partials/indexpage/footer';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/indexpage/aboutme';
@import 'partials/codingpage/codingpage';
@import 'partials/schemepage/schemepage';
@import 'partials/indexpage/examples';

//content


html {
  line-height: 1.15;
  font-size: 16px;
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include font-site;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: $clr2;
  line-height: 1.42857143;
  margin: auto;
  background-color: $clr1;

  
}
 a {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.875rem;
}

p {
  line-height: 1.875rem;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.img-rounded {
  border-radius: 50%;
}

.row {
  --bs-gutter-x: 15px;
  --bs-gutter-y: 15px;
    
}

.card {
  margin: 10px;
  border: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}

.card-body {
  padding: 0px !important;
}

.form-control {
  border-radius: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.25rem;
  font-weight: 400;

}

.h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #333645;

}

#page-content-wrapper {
  background-image: linear-gradient(180deg, $clr1, lighten($clr1, 10%));
}

