#portfolio-projects {
    background-color: lighten($clr1, 10%);
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.card--img {
    width: 100%;
    height: auto;
    
    
}
.project-row {
    
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    > div > div.card {
        background-color: $clr1;
        position: relative;
        transition: top ease .5s;
        top: 0;
        border-radius: 0;
        border: $clr1 1px solid;
        box-shadow:  0 0px 10px 1px $clr1;
        
        &:hover {
            top: -10px;
            box-shadow: 0px 1px 15px darken($outlineclr, 10%);
            border: darken($outlineclr, 10%) 1px solid;
            
        }
    }
}

#portfolio-projects > .custom-container > .row > i {
    
    margin: 20px 0 15px 0px;
    font-size: 4rem;
    border-bottom: 1px solid $clr2;
}

.card-title, .card-subtitle {
    padding: 5px 0px 5px 10px;
}

.card-subtitle > i {
    position: relative;
    top: 4px;
    font-size: 20px;
}