@import '_mixins.scss';
//media queries
@media (max-width: 992px) {
    #contact-forum-wrapper .custom-container .row {
        flex-direction: column;
    }
}

//stylings
#contact-forum-wrapper {
    padding: 1rem  2rem 1rem 2rem;
    > .custom-container {
        padding-top: 2rem;
        
        > .row {
            justify-content: space-between;
        }
    }
}

.identity-fields{
    & #fname {
        margin-right: .5rem;
    }
    & input {
   width: 100%;
    }
}

.email-fields {
    flex-wrap: wrap;
    & input {
        width: 100%;
        margin-top: 1rem;
        
    }
}
.identity-fields, .email-fields {
    display: flex;
}

//input form fields sizing/styling 

.identity-fields input, .email-fields .email-subject, .email-fields .email-address {
    padding: 8px 8px;
}
#msgbody {
    
    margin-top: 1rem;
    width: 100%;
    height: 150px;
    
    padding-left: 5px;
    padding-top: 5px;
   
}

input[type=text], input[type=email], #msgbody{
    font-size: 14px;
    color: $clr2;
    background-color: lighten($clr1, 10%);
    border: lighten($clr1, 10%) 1px solid;
   

    &:focus {
       @include border-clr;
       @include border-shadow;
    }

    &:hover {
        @include border-clr;
    }
    &:focus-visible {
       outline: none;
    }
}

.contact-btn {
    @include font-features;
    margin-top: 1rem;
    color: $clr2;
    background-color: lighten($clr1, 10%);
    border: lighten($clr1, 10%) 1px solid;
    border-radius: 5%;
    letter-spacing: 1px;


    &:hover {
        background-color: lighten($clr1, 15%);
        @include border-clr;
        
    }

    
    &:focus {
        @include box-styling-target;
    }
}

.contact-info {
   > p.h1 {
    font-size: 2.5rem;
   }
   
    p {
    @include font-features;
}
}
.contact-icon {
    position: relative;
    top: 5px;
   
    
}
.email-fields {
    margin-bottom: .5rem;
}