@mixin box-styling-target {
    border: $outlineclr .1px solid;
    color: $clr2;
    background-color: lighten($clr1, 10%);
    box-shadow: 0px 0px 5px lighten($outlineclr, 10%);
}
@mixin font-site {
    font-family: 'Roboto', sans-serif;
}

@mixin font-features {
    font-family: 'Source Code Pro', monospace;
}
@mixin border-clr {
    border: $outlineclr .1px solid;
}

@mixin border-shadow {
    box-shadow: 0px 0px 5px lighten($outlineclr, 10%);
}