
.card--img {
    width: 100%;
    height: auto;
    
    
}
.project-row {
    display: flex;
    flex-wrap: wrap;
    > div > div.card {
        background-color: transparent;
        position: relative;
        transition: top ease .5s;
        top: 0;
       
        &:hover {
            top: -10px;
            box-shadow: 0px 1px 15px darken($textclr, 10%);
            
            
        }
    }
}

#portfolio-projects > .custom-container > .row > i {
    
    margin: 20px 0 15px 10px;
    font-size: 4rem;
}

.card-title, .card-subtitle {
    padding: 5px 0px 5px 10px;
}

.card-subtitle > i {
    position: relative;
    top: 4px;
    font-size: 20px;
}