@import '_variables.scss';
@import '_mixins.scss';

@media (max-width: 992px) {
  .sidenav {
    display: none;
  }

  #content-wrapper {
    margin-left: 0px !important;
  }
}


.sidenav {
  height: 100%;
  width: 180px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $baseclr;
  border-right: $textclr 1px solid;
  overflow-x: hidden;
  /* Disable horizontal scroll */

  >.sidenav-links {
    margin-top: 2rem;
    border-top: $textclr 1px solid;
    border-bottom: $textclr 1px solid;

    & a:last-child {}
  }
}

.sidenav>.sidenav-logo img {

  width: 180px;
  height: auto;
}

.sidenav>.sidenav-links a {
  @include font-features;
  padding: 4px 12px 4px 12px;
  margin: .5rem 0 .5rem 0;
  text-decoration: none;
  font-size: 16px;
  color: $textclr;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}