@import '_variables.scss';
@import '_mixins.scss';

@media (max-width: 998px) {
  .custom-navbar {
    display: hidden !important;
  }

  .custom-mobile-navbar {
    display: flex !important;
  }

}


.custom-navbar {
  height: auto;
  width: 100%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: -400px;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: darken($clr1, 5%);

  transition: top 0.3s;
}


.custom-navbar>.custom-navbar-logo>.logo {
  @include font-features;
  text-align: center;


  >a {

    padding: 3px 20px 6px 20px;
    font-size: 2rem;
    text-decoration: none;
    color: $clr2;


    &:hover {
      color: darken($clr2, 10%);
      background-color: darken($clr1, 10%);
      border-right: $outlineclr 1px solid;
      box-shadow: -5px 0px 5px -5px darken($outlineclr, 10%) inset;
    }
  }

}
.custom-navbar>.custom-navbar-logo>.logo2 {
  @include font-features;
  text-align: center;


  >a {

    padding: 3px 20px 6px 20px;
    font-size: 2rem;
    text-decoration: none;
    color: $clr2;


    &:hover {
      color: darken($clr2, 10%);
      background-color: darken($clr1, 10%);
      border-left: $outlineclr 1px solid;
      box-shadow: 5px 0px 5px -5px darken($outlineclr, 10%) inset;
    }
  }

}


.custom-navbar>.custom-navbar-links a {
  @include font-features;
  padding: 16px 12px 10px 12px;

  text-decoration: none;
  font-size: 18px;
  color: $clr2;
  display: inline;

 
  
}


.custom-navbar>.custom-navbar-links a:hover {
  color: darken($clr2, 10%);
  background-color: darken($clr1, 10%);
  border-bottom: $outlineclr 1px solid;
  box-shadow: 0px -5px 5px -5px darken($outlineclr, 10%) inset;
}

.custom-navbar-socials {



  display: flex;
  flex-direction: row;
  margin-right: 1rem;

  >i {
    border-bottom: $clr1 1px solid;
    font-size: 1.5rem;
    padding: 8px 15px 6px 15px;
    
    &:hover {
      color: lighten($clr2, 10%);
      background-color: lighten($clr1, 10%);
      border-bottom: $outlineclr 1px solid;
      box-shadow: 0px -5px 5px -5px lighten($outlineclr, 10%) inset;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  >.socials {
    display: none;
  }
}

//mobile navbar
.custom-mobile-navbar {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: -100px;
  z-index: 1;
  display: none;
  justify-content: space-evenly;
  background-color: darken($clr1, 5%);

  transition: bottom 0.3s;

  >a {
    width: auto;
    padding: 7px 3px 6px 5px;
    color: $clr2;


    >i {
      font-size: 1.5rem;
      border: darken($clr1, 5%) 1px solid;
      padding: 8px 15px 10px 15px;
      &:hover {
        color: lighten($clr2, 10%);
        background-color: lighten($clr1, 10%);
        border-top: $outlineclr 1px solid;
        box-shadow: 0px 5px 5px -5px lighten($outlineclr, 10%) inset;
      }
    }
  }
}