.schemecontent {
    justify-content: center;

    >div>.card {
        background-color: $clr1;
        border: $clr1 1px solid;
        box-shadow: 0px 1px 15px darken($outlineclr, 10%);

        >.card-body {
            @include font-site;

            >.scheme-card-title {
                font-weight: 700;
            }

            >.scheme-card-txt {}
        }
    }
}

.card-body {
    >.scheme-card-title, .scheme-card-txt {
        padding: 0px 5px 0px 15px;
    }
}