@import '../_mixins.scss';


.about-head {
    margin-left: 1rem;
    margin-top: 1rem;

    p {
        @include font-features;
        font-size: 18px;

        > i {
            font-size: 26px;
            top: 5px;
            position: relative;
        }
    }
}

.about-wrapper {
    background-color: lighten($clr1, 10%);
}