@import '../_mixins.scss';

#about-img-wrapper {
   /* background-image: url('../assets/imgs/backgroundimg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    */
    background-color: $clr1;
    background-size: cover;
}

.aboutmeimg {

    height: 200px;
    width: 200px;
    
    box-shadow: 0 0 10px 1px black;
}

.abouthead-txt {
    @include font-features;
    margin-top: 1rem;
    text-align: center;
   
  
}
.about-head-wrap {
    background-color: darken($clr1, 10%);
    box-shadow: 0 6px 5px -5px black;
}
.aboutme-head {
    padding-top: 2rem;
    justify-content: center;
    
}

.aboutmecontent {
    
    justify-content: center;
    height: 100%;
    background-color: $clr1;
    &:first-child {
        margin-top: 2rem;
    }
    >div>.card {
        background-color: lighten($clr1, 5%);
        border: lighten($clr1, 5%) 1px solid;
        box-shadow: 0px 1px 15px black;

        >.card-body {
            @include font-features;

            >.about-card-title {
                font-weight: 700;
            }

            >.about-card-txt {}
        }
    }
}

.card-body {
    >.about-card-title, .about-card-txt {
        padding: 0px 5px 0px 15px;
    }
}